
<section>
  <div>
    <a routerLink="/customer/new" class="btn btn-primary float-right">Create New Customer</a>
  </div>
  <div *ngIf="isLoading; else table">
      Loading...
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <ng-template #table>
      <h3>Customers</h3>
      <table class="table table-striped">
      <thead class="font-weight-bold">
        <tr>
            <td>Name</td>
            <td>Surname &#8593;</td>
            <td>Telephone</td>
            <td>Address</td>
            <td></td>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let c of customers" >
          <td>{{c.name}}</td>
          <td>{{c.surname}}</td>
          <td>{{c.telephone}}</td>
          <td>{{c.address}}</td>
          <td>
            <a routerLink="/customer/{{c.id}}">Edit</a> |
            <a href="javascript:void(0);" (click)="onDelete(c)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="allCount"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  [pageIndex]="pageIndex"
                  (page)="onPage($event)">
    </mat-paginator>
  </ng-template>
  <div class="status">
    {{status}}
  </div>

</section>

